In [1]:
!pip install plot
!pip install matplotlib
!pip install seaborn
!pip install openpyxl

Requirement already satisfied: plot in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (0.6.5)
Requirement already satisfied: matplotlib in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from plot) (3.9.3)
Requirement already satisfied: typing in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from plot) (3.7.4.3)
Requirement already satisfied: numpy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from plot) (2.1.3)
Requirement already satisfied: scipy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from plot) (1.14.1)
Requirement already satisfied: pyyaml in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from plot) (6.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (4.55.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->plot) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib->plot) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.55.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
adult = pd.read_excel('dataset_adult.xlsx')

adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [5]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
adult.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
adult.shape

(32561, 15)

In [8]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [9]:
print(adult.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [10]:
adult.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education.num        16
marital.status        7
occupation           15
relationship          6
race                  5
sex                   2
capital.gain        119
capital.loss         92
hours.per.week       94
native.country       42
income                2
dtype: int64

In [24]:
# Separate categorical and numerical columns
cat_col = adult.select_dtypes(include=['object']).columns
num_col = adult.select_dtypes(exclude=['object']).columns

In [26]:
# Confirm data types of categorical and numerical groups
print("\nCategorical Columns Data Types:")
print(adult[cat_col].dtypes)

print("\nNumerical Columns Data Types:")
print(adult[num_col].dtypes)

Categorical Columns Data Types:
workclass         object
education         object
marital.status    object
occupation        object
relationship      object
race              object
sex               object
native.country    object
income            object
dtype: object

Numerical Columns Data Types:
age               int64
fnlwgt            int64
education.num     int64
capital.gain      int64
capital.loss      int64
hours.per.week    int64
dtype: object

In [12]:
# Loop through each categorical column and display value counts and percentages
for col in cat_col.index:
    print(f"\n{'-' * 20} {col.title()} {'-' * 20}")

# Create a DataFrame with total and percentage counts
    value_counts = adult[col].value_counts()
    percent_counts = value_counts / len(adult)
    summary_df = pd.DataFrame({'Total': value_counts, 'Percent': percent_counts})

    print(summary_df)

-------------------- Workclass --------------------
                  Total   Percent
workclass
Private           22696  0.697030
Self-emp-not-inc   2541  0.078038
Local-gov          2093  0.064279
?                  1836  0.056386
State-gov          1298  0.039864
Self-emp-inc       1116  0.034274
Federal-gov         960  0.029483
Without-pay          14  0.000430
Never-worked          7  0.000215

-------------------- Education --------------------
              Total   Percent
education
HS-grad       10501  0.322502
Some-college   7291  0.223918
Bachelors      5355  0.164461
Masters        1723  0.052916
Assoc-voc      1382  0.042443
11th           1175  0.036086
Assoc-acdm     1067  0.032769
10th            933  0.028654
7th-8th         646  0.019840
Prof-school     576  0.017690
9th             514  0.015786
12th            433  0.013298
Doctorate       413  0.012684
5th-6th         333  0.010227
1st-4th         168  0.005160
Preschool        51  0.001566

-------------------- Marital.Status --------------------
                       Total   Percent
marital.status
Married-civ-spouse     14976  0.459937
Never-married          10683  0.328092
Divorced                4443  0.136452
Separated               1025  0.031479
Widowed                  993  0.030497
Married-spouse-absent    418  0.012837
Married-AF-spouse         23  0.000706

-------------------- Occupation --------------------
                   Total   Percent
occupation
Prof-specialty      4140  0.127146
Craft-repair        4099  0.125887
Exec-managerial     4066  0.124873
Adm-clerical        3770  0.115783
Sales               3650  0.112097
Other-service       3295  0.101195
Machine-op-inspct   2002  0.061485
?                   1843  0.056601
Transport-moving    1597  0.049046
Handlers-cleaners   1370  0.042075
Farming-fishing      994  0.030527
Tech-support         928  0.028500
Protective-serv      649  0.019932
Priv-house-serv      149  0.004576
Armed-Forces           9  0.000276

-------------------- Relationship --------------------
                Total   Percent
relationship
Husband         13193  0.405178
Not-in-family    8305  0.255060
Own-child        5068  0.155646
Unmarried        3446  0.105832
Wife             1568  0.048156
Other-relative    981  0.030128

-------------------- Race --------------------
                    Total   Percent
race
White               27816  0.854274
Black                3124  0.095943
Asian-Pac-Islander   1039  0.031909
Amer-Indian-Eskimo    311  0.009551
Other                 271  0.008323

-------------------- Sex --------------------
        Total   Percent
sex
Male    21790  0.669205
Female  10771  0.330795

-------------------- Native.Country --------------------
                            Total   Percent
native.country
United-States               29170  0.895857
Mexico                        643  0.019748
?                             583  0.017905
Philippines                   198  0.006081
Germany                       137  0.004207
Canada                        121  0.003716
Puerto-Rico                   114  0.003501
El-Salvador                   106  0.003255
India                         100  0.003071
Cuba                           95  0.002918
England                        90  0.002764
Jamaica                        81  0.002488
South                          80  0.002457
China                          75  0.002303
Italy                          73  0.002242
Dominican-Republic             70  0.002150
Vietnam                        67  0.002058
Guatemala                      64  0.001966
Japan                          62  0.001904
Poland                         60  0.001843
Columbia                       59  0.001812
Taiwan                         51  0.001566
Haiti                          44  0.001351
Iran                           43  0.001321
Portugal                       37  0.001136
Nicaragua                      34  0.001044
Peru                           31  0.000952
Greece                         29  0.000891
France                         29  0.000891
Ecuador                        28  0.000860
Ireland                        24  0.000737
Hong                           20  0.000614
Trinadad&Tobago                19  0.000584
Cambodia                       19  0.000584
Thailand                       18  0.000553
Laos                           18  0.000553
Yugoslavia                     16  0.000491
Outlying-US(Guam-USVI-etc)     14  0.000430
Hungary                        13  0.000399
Honduras                       13  0.000399
Scotland                       12  0.000369
Holand-Netherlands              1  0.000031

-------------------- Income --------------------
        Total  Percent
income
<=50K   24720  0.75919
>50K     7841  0.24081

In [13]:
# Replace '?' with 'unknown' in the specified columns and verify replacement
edit_cols = ['native.country', 'occupation', 'workclass']

# Replace '?' with 'unknown' using .replace() method
adult[edit_cols] = adult[edit_cols].replace('?', 'unknown')

In [14]:
# Check if '?' is still present in the columns
for col in edit_cols:
    is_present = (adult[col] == '?').any()
    print(f"? in {col}: {is_present}")

? in native.country: False
? in occupation: False
? in workclass: False

In [19]:
# Define categories for grouping education levels
hs_grad = ['HS-grad', '11th', '10th', '9th', '12th']
elementary = ['1st-4th', '5th-6th', '7th-8th']
# Replace specified education levels with grouped categories
adult['education'].replace(hs_grad, 'HS-grad', inplace=True)
adult['education'].replace(elementary, 'elementary_school', inplace=True)
# Display value counts for education
education_counts = adult['education'].value_counts()
education_counts.name = 'education'
print(education_counts)

education
HS-grad              13556
Some-college          7291
Bachelors             5355
Masters               1723
Assoc-voc             1382
elementary_school     1147
Assoc-acdm            1067
Prof-school            576
Doctorate              413
Preschool               51
Name: education, dtype: int64

In [21]:
# Define categories for marital status grouping
married = ['Married-spouse-absent', 'Married-civ-spouse', 'Married-AF-spouse']
separated = ['Separated', 'Divorced']

# Replace specified marital statuses with grouped categories
adult['marital.status'].replace(married, 'Married', inplace=True)
adult['marital.status'].replace(separated, 'Separated', inplace=True)

# Display value counts for marital status
marital_counts = adult['marital.status'].value_counts()
marital_counts.name = 'marital.status'
print(marital_counts)

marital.status
Married          15417
Never-married    10683
Separated         5468
Widowed            993
Name: marital.status, dtype: int64

In [22]:
# Define categories for workclass grouping
self_employed = ['Self-emp-not-inc', 'Self-emp-inc']
govt_employees = ['Local-gov', 'State-gov', 'Federal-gov']

# Replace specified workclass categories with grouped categories
adult['workclass'].replace(self_employed, 'Self_employed', inplace=True)
adult['workclass'].replace(govt_employees, 'Govt_employees', inplace=True)

# Display value counts for workclass
workclass_counts = adult['workclass'].value_counts()
workclass_counts.name = 'workclass'
print(workclass_counts)

workclass
Private           22696
Govt_employees     4351
Self_employed      3657
unknown            1836
Without-pay          14
Never-worked          7
Name: workclass, dtype: int64